In [3]:
import pandas as pd
data=pd.read_csv("final_Dataset/final_Dataset.csv")

In [4]:
data.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Name,Sector
0,0,2022-01-03 00:00:00-05:00,178.320007,179.089996,175.839996,177.740005,172.506775,1930700,MMM,3M,Industrials
1,1,2022-01-04 00:00:00-05:00,178.479996,181.259995,178.029999,180.229996,174.923447,2522200,MMM,3M,Industrials
2,2,2022-01-05 00:00:00-05:00,177.130005,181.779999,177.000000,179.490005,174.205261,2952400,MMM,3M,Industrials
3,3,2022-01-06 00:00:00-05:00,180.880005,181.279999,177.539993,178.000000,172.759125,2505400,MMM,3M,Industrials
4,4,2022-01-07 00:00:00-05:00,178.130005,180.490005,177.220001,179.949997,174.651703,2800200,MMM,3M,Industrials

In [5]:
count=0
for i,j in data['Symbol'].iteritems():
    if j!='MMM':
        break
    else:
        count+=1
print(count)

197

In [6]:
data['Symbol'][196]

'MMM'

In [7]:
#data["relationalChange"]=(data['Close'].pct_change())*100

In [8]:
data.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Name,Sector
0,0,2022-01-03 00:00:00-05:00,178.320007,179.089996,175.839996,177.740005,172.506775,1930700,MMM,3M,Industrials
1,1,2022-01-04 00:00:00-05:00,178.479996,181.259995,178.029999,180.229996,174.923447,2522200,MMM,3M,Industrials
2,2,2022-01-05 00:00:00-05:00,177.130005,181.779999,177.000000,179.490005,174.205261,2952400,MMM,3M,Industrials
3,3,2022-01-06 00:00:00-05:00,180.880005,181.279999,177.539993,178.000000,172.759125,2505400,MMM,3M,Industrials
4,4,2022-01-07 00:00:00-05:00,178.130005,180.490005,177.220001,179.949997,174.651703,2800200,MMM,3M,Industrials

In [9]:
#import statistics
from statistics import mean
def stock_volatility():
    stockVolatility={}
    variationlist=[]
    count=0
    for key, value in data["Close"].iteritems():
       # print("count:",count)
        if count==0:
            count=count+1
            continue
       # print(count,"\n")
        if count==197:
            count=0
            stockVolatility[data["Name"][key-1]]=mean(variationlist)
            variationlist=[]
        else: 
            #print("Value of key:",key)
            value=((data["Close"][key]-data["Close"][key-1])/data["Close"][key-1])*100  
            variationlist.append(value)
            count=count+1

    return stockVolatility

In [10]:
variationList=stock_volatility()

In [11]:
#list of stocks on the basis of their violatility
#variationList

In [12]:
from operator import itemgetter
res = dict(sorted(variationList.items(), key = itemgetter(1), reverse = True)[:50])

In [13]:
#list fo top 50 stocks with highest volatility in their prices during 9 months of data.
#res

In [14]:
## to create a adjacency matrix

In [15]:
#import statistics
from statistics import mean
def stock_adjustedClose():
    stockVolatility={}
    variationlist=[None]
    count=0
    key_val=data["Name"][count]
    newlist=[None]
    for key, value in data["Adj Close"].iteritems():
       # print("count:",count)
        
       # print(count,"\n")
        if key==0:
            continue

        if data["Name"][key]!=key_val:
            stockVolatility[key_val]=newlist
            newlist=[]
            key_val=data["Name"][key]
            variationlist.append(None)
            newlist.append(None)
            
            
        else: 
            
            value=((data["Adj Close"][key]-data["Adj Close"][key-1])/data["Adj Close"][key-1])  
            variationlist.append(value)
            newlist.append(value)
            

    return stockVolatility,variationlist

In [16]:
stockVolatility,variationList=stock_adjustedClose()

In [17]:
variationList[190:200]

[-0.0038920996968237484,
 -0.03516536847054771,
 -0.03239746233381345,
 0.008742582503297236,
 0.003503570501803276,
 0.0010106634881728864,
 0.04873800217278439,
 None,
 0.016632708901286746,
 -0.016713680477870006]

In [18]:
#stockVolatility["3M"]

In [19]:
#final dataset
data["daily_return"]=variationList

#spearson coefficicent for the edge weight

In [20]:
from scipy import stats

def spearmancoff(A,B):
    if None in A:
        A.remove(None)
    if None in B:
        B.remove(None)
    if len(A)==len(B):
        return stats.spearmanr(A,B)[0]
    else:
        return 0

In [21]:
companyList=[]
correlationdict={}
for k,v in stockVolatility.items():
    if k in companyList:
        continue
    else:
        for key, value in stockVolatility.items():
            if k==key:
                continue
            else:
                correlationdict[k+"_"+key]=spearmancoff(v,value)
        companyList.append(k)

In [22]:
import pickle
try:
    geeky_file = open('correlationdict', 'wb')
    pickle.dump(correlationdict, geeky_file)
    geeky_file.close()
  
except:
    print("Something went wrong")

EDGE NODE DATASET

In [23]:
NodeDict={}
count=0
for a in data["Name"].unique():
    count+=1
    NodeDict[a]=count

In [24]:
NodeDict

{'3M': 1,
 'A. O. Smith': 2,
 'Abbott Laboratories': 3,
 'AbbVie': 4,
 'Abiomed': 5,
 'Accenture': 6,
 'Activision Blizzard': 7,
 'ADM': 8,
 'Adobe': 9,
 'Advance Auto Parts': 10,
 'Advanced Micro Devices': 11,
 'AES Corp': 12,
 'Aflac': 13,
 'Agilent Technologies': 14,
 'Air Products & Chemicals': 15,
 'Akamai Technologies': 16,
 'Alaska Air Group': 17,
 'Albemarle Corporation': 18,
 'Alexandria Real Estate Equities': 19,
 'Align Technology': 20,
 'Allegion': 21,
 'Alliant Energy': 22,
 'Allstate Corp': 23,
 'Alphabet (Class A)': 24,
 'Alphabet (Class C)': 25,
 'Altria Group': 26,
 'Amazon': 27,
 'Amcor': 28,
 'Ameren Corp': 29,
 'American Airlines Group': 30,
 'American Electric Power': 31,
 'American Express': 32,
 'American International Group': 33,
 'American Tower': 34,
 'American Water Works': 35,
 'Ameriprise Financial': 36,
 'AmerisourceBergen': 37,
 'Ametek': 38,
 'Amgen': 39,
 'Amphenol': 40,
 'Analog Devices': 41,
 'Ansys': 42,
 'Aon': 43,
 'APA Corporation': 44,
 'Apple': 45,
 'Applied Materials': 46,
 'Aptiv': 47,
 'Arista Networks': 48,
 'Arthur J. Gallagher & Co.': 49,
 'Assurant': 50,
 'AT&T': 51,
 'Atmos Energy': 52,
 'Autodesk': 53,
 'Automatic Data Processing': 54,
 'AutoZone': 55,
 'AvalonBay Communities': 56,
 'Avery Dennison': 57,
 'Baker Hughes': 58,
 'Bank of America': 59,
 'Bath & Body Works Inc.': 60,
 'Baxter International': 61,
 'Becton Dickinson': 62,
 'Best Buy': 63,
 'Bio-Rad Laboratories': 64,
 'Bio-Techne': 65,
 'Biogen': 66,
 'BlackRock': 67,
 'BNY Mellon': 68,
 'Boeing': 69,
 'Booking Holdings': 70,
 'BorgWarner': 71,
 'Boston Properties': 72,
 'Boston Scientific': 73,
 'Bristol Myers Squibb': 74,
 'Broadcom': 75,
 'Broadridge Financial Solutions': 76,
 'Brown & Brown': 77,
 'C. H. Robinson': 78,
 'Cadence Design Systems': 79,
 'Caesars Entertainment': 80,
 'Campbell Soup': 81,
 'Capital One Financial': 82,
 'Cardinal Health': 83,
 'CarMax': 84,
 'Carnival Corporation': 85,
 'Carrier Global': 86,
 'Catalent': 87,
 'Caterpillar': 88,
 'Cboe Global Markets': 89,
 'CBRE': 90,
 'CDW': 91,
 'Celanese': 92,
 'Centene Corporation': 93,
 'CenterPoint Energy': 94,
 'Ceridian': 95,
 'CF Industries': 96,
 'Charles River Laboratories': 97,
 'Charles Schwab Corporation': 98,
 'Charter Communications': 99,
 'Chevron Corporation': 100,
 'Chipotle Mexican Grill': 101,
 'Chubb': 102,
 'Church & Dwight': 103,
 'Cigna': 104,
 'Cincinnati Financial': 105,
 'Cintas Corporation': 106,
 'Cisco Systems': 107,
 'Citigroup': 108,
 'Citizens Financial Group': 109,
 'Citrix Systems': 110,
 'Clorox': 111,
 'CME Group': 112,
 'CMS Energy': 113,
 'Coca-Cola Company': 114,
 'Cognizant Technology Solutions': 115,
 'Colgate-Palmolive': 116,
 'Comcast': 117,
 'Comerica': 118,
 'Conagra Brands': 119,
 'ConocoPhillips': 120,
 'Consolidated Edison': 121,
 'Constellation Brands': 122,
 'Copart': 123,
 'Corning': 124,
 'Corteva': 125,
 'Costco': 126,
 'Coterra': 127,
 'Crown Castle': 128,
 'CSX': 129,
 'Cummins': 130,
 'CVS Health': 131,
 'D. R. Horton': 132,
 'Danaher Corporation': 133,
 'Darden Restaurants': 134,
 'DaVita': 135,
 'Deere & Co.': 136,
 'Delta Air Lines': 137,
 'Dentsply Sirona': 138,
 'Devon Energy': 139,
 'DexCom': 140,
 'Diamondback Energy': 141,
 'Digital Realty Trust': 142,
 'Discover Financial Services': 143,
 'Dish Network': 144,
 'Dollar General': 145,
 'Dollar Tree': 146,
 'Dominion Energy': 147,
 "Domino's Pizza": 148,
 'Dover Corporation': 149,
 'Dow': 150,
 'DTE Energy': 151,
 'Duke Energy': 152,
 'Duke Realty Corp': 153,
 'DuPont': 154,
 'DXC Technology': 155,
 'Eastman Chemical': 156,
 'Eaton Corporation': 157,
 'eBay': 158,
 'Ecolab': 159,
 'Edison International': 160,
 'Edwards Lifesciences': 161,
 'Electronic Arts': 162,
 'Eli Lilly & Co': 163,
 'Emerson Electric Company': 164,
 'Enphase Energy': 165,
 'Entergy': 166,
 'EOG Resources': 167,
 'Equifax': 168,
 'Equinix': 169,
 'Equity Residential': 170,
 'Essex Property Trust': 171,
 'EstÃ©e Lauder Companies': 172,
 'Etsy': 173,
 'Everest Re': 174,
 'Evergy': 175,
 'Eversource Energy': 176,
 'Exelon': 177,
 'Expedia Group': 178,
 'Expeditors': 179,
 'Extra Space Storage': 180,
 'ExxonMobil': 181,
 'F5 Networks': 182,
 'Fastenal': 183,
 'Federal Realty Investment Trust': 184,
 'FedEx': 185,
 'Fidelity National Information Services': 186,
 'Fifth Third Bancorp': 187,
 'First Republic Bank': 188,
 'FirstEnergy': 189,
 'Fiserv': 190,
 'Fleetcor': 191,
 'FMC Corporation': 192,
 'Ford': 193,
 'Fortinet': 194,
 'Fortive': 195,
 'Fortune Brands Home & Security': 196,
 'Fox Corporation (Class A)': 197,
 'Fox Corporation (Class B)': 198,
 'Franklin Resources': 199,
 'Freeport-McMoRan': 200,
 'Gap': 201,
 'Garmin': 202,
 'Gartner': 203,
 'Generac Holdings': 204,
 'General Dynamics': 205,
 'General Electric': 206,
 'General Mills': 207,
 'General Motors': 208,
 'Genuine Parts': 209,
 'Gilead Sciences': 210,
 'Global Payments': 211,
 'Globe Life': 212,
 'Goldman Sachs': 213,
 'Halliburton': 214,
 'Hanesbrands': 215,
 'Hasbro': 216,
 'HCA Healthcare': 217,
 'Healthpeak Properties': 218,
 'Henry Schein': 219,
 'Hess Corporation': 220,
 'Hewlett Packard Enterprise': 221,
 'Hilton Worldwide': 222,
 'Hologic': 223,
 'Home Depot': 224,
 'Honeywell': 225,
 'Hormel': 226,
 'Host Hotels & Resorts': 227,
 'Howmet Aerospace': 228,
 'HP': 229,
 'Humana': 230,
 'Huntington Bancshares': 231,
 'Huntington Ingalls Industries': 232,
 'IBM': 233,
 'IDEX Corporation': 234,
 'Idexx Laboratories': 235,
 'Illinois Tool Works': 236,
 'Illumina': 237,
 'Incyte': 238,
 'Ingersoll Rand': 239,
 'Intel': 240,
 'Intercontinental Exchange': 241,
 'International Flavors & Fragrances': 242,
 'International Paper': 243,
 'Interpublic Group': 244,
 'Intuit': 245,
 'Intuitive Surgical': 246,
 'Invesco': 247,
 'IPG Photonics': 248,
 'IQVIA': 249,
 'Iron Mountain': 250,
 'J. B. Hunt': 251,
 'Jack Henry & Associates': 252,
 'Jacobs Engineering Group': 253,
 'JM Smucker': 254,
 'Johnson & Johnson': 255,
 'Johnson Controls': 256,
 'JPMorgan Chase': 257,
 'Juniper Networks': 258,
 "Kellogg's": 259,
 'KeyCorp': 260,
 'Keysight Technologies': 261,
 'Kimberly-Clark': 262,
 'Kimco Realty': 263,
 'Kinder Morgan': 264,
 'KLA Corporation': 265,
 'Kraft Heinz': 266,
 'Kroger': 267,
 'L3Harris Technologies': 268,
 'LabCorp': 269,
 'Lam Research': 270,
 'Lamb Weston': 271,
 'Las Vegas Sands': 272,
 'Leggett & Platt': 273,
 'Leidos': 274,
 'Lennar': 275,
 'Lincoln National': 276,
 'Linde': 277,
 'Live Nation Entertainment': 278,
 'LKQ Corporation': 279,
 'Lockheed Martin': 280,
 'Loews Corporation': 281,
 "Lowe's": 282,
 'Lumen Technologies': 283,
 'LyondellBasell': 284,
 'M&T Bank': 285,
 'Marathon Oil': 286,
 'Marathon Petroleum': 287,
 'MarketAxess': 288,
 'Marriott International': 289,
 'Marsh & McLennan': 290,
 'Martin Marietta Materials': 291,
 'Masco': 292,
 'Mastercard': 293,
 'Match Group': 294,
 'McCormick & Company': 295,
 "McDonald's": 296,
 'McKesson Corporation': 297,
 'Medtronic': 298,
 'Merck & Co.': 299,
 'MetLife': 300,
 'Mettler Toledo': 301,
 'MGM Resorts International': 302,
 'Microchip Technology': 303,
 'Micron Technology': 304,
 'Microsoft': 305,
 'Mid-America Apartments': 306,
 'Moderna': 307,
 'Mohawk Industries': 308,
 'Molson Coors Beverage Company': 309,
 'Mondelez International': 310,
 'Monolithic Power Systems': 311,
 'Monster Beverage': 312,
 "Moody's Corporation": 313,
 'Morgan Stanley': 314,
 'Motorola Solutions': 315,
 'MSCI': 316,
 'Nasdaq': 317,
 'NetApp': 318,
 'Netflix': 319,
 'Newell Brands': 320,
 'Newmont': 321,
 'News Corp (Class A)': 322,
 'News Corp (Class B)': 323,
 'NextEra Energy': 324,
 'Nielsen Holdings': 325,
 'Nike': 326,
 'NiSource': 327,
 'Norfolk Southern': 328,
 'Northern Trust': 329,
 'Northrop Grumman': 330,
 'NortonLifeLock': 331,
 'Norwegian Cruise Line Holdings': 332,
 'NRG Energy': 333,
 'Nucor': 334,
 'Nvidia': 335,
 'NVR': 336,
 'NXP': 337,
 "O'Reilly Automotive": 338,
 'Occidental Petroleum': 339,
 'Old Dominion Freight Line': 340,
 'Omnicom Group': 341,
 'Oneok': 342,
 'Oracle': 343,
 'Organon & Co.': 344,
 'Otis Worldwide': 345,
 'Paccar': 346,
 'Packaging Corporation of America': 347,
 'Parker-Hannifin': 348,
 'Paychex': 349,
 'Paycom': 350,
 'PayPal': 351,
 'Penn National Gaming': 352,
 'Pentair': 353,
 'PepsiCo': 354,
 'PerkinElmer': 355,
 'Pfizer': 356,
 'Philip Morris International': 357,
 'Phillips 66': 358,
 'Pinnacle West Capital': 359,
 'Pioneer Natural Resources': 360,
 'PNC Financial Services': 361,
 'Pool Corporation': 362,
 'PPG Industries': 363,
 'PPL': 364,
 'Principal Financial Group': 365,
 'Procter & Gamble': 366,
 'Progressive Corporation': 367,
 'Prologis': 368,
 'Prudential Financial': 369,
 'PTC': 370,
 'Public Service Enterprise Group': 371,
 'Public Storage': 372,
 'PulteGroup': 373,
 'PVH': 374,
 'Qorvo': 375,
 'Qualcomm': 376,
 'Quanta Services': 377,
 'Quest Diagnostics': 378,
 'Ralph Lauren Corporation': 379,
 'Raymond James Financial': 380,
 'Raytheon Technologies': 381,
 'Realty Income Corporation': 382,
 'Regency Centers': 383,
 'Regeneron Pharmaceuticals': 384,
 'Regions Financial Corporation': 385,
 'Republic Services': 386,
 'ResMed': 387,
 'Robert Half International': 388,
 'Rockwell Automation': 389,
 'Rollins': 390,
 'Roper Technologies': 391,
 'Ross Stores': 392,
 'Royal Caribbean Group': 393,
 'S&P Global': 394,
 'Salesforce': 395,
 'SBA Communications': 396,
 'Schlumberger': 397,
 'Seagate Technology': 398,
 'Sealed Air': 399,
 'Sempra Energy': 400,
 'ServiceNow': 401,
 'Sherwin-Williams': 402,
 'Simon Property Group': 403,
 'Skyworks Solutions': 404,
 'Snap-on': 405,
 'Southern Company': 406,
 'Southwest Airlines': 407,
 'Stanley Black & Decker': 408,
 'Starbucks': 409,
 'State Street Corporation': 410,
 'Steris': 411,
 'Stryker Corporation': 412,
 'SVB Financial': 413,
 'Synchrony Financial': 414,
 'Synopsys': 415,
 'Sysco': 416,
 'T-Mobile US': 417,
 'T. Rowe Price': 418,
 'Take-Two Interactive': 419,
 'Tapestry': 420,
 'Target Corporation': 421,
 'TE Connectivity': 422,
 'Teledyne Technologies': 423,
 'Teleflex': 424,
 'Teradyne': 425,
 'Tesla': 426,
 'Texas Instruments': 427,
 'Textron': 428,
 'The Cooper Companies': 429,
 'The Hartford': 430,
 'The Hershey Company': 431,
 'The Mosaic Company': 432,
 'The Travelers Companies': 433,
 'The Walt Disney Company': 434,
 'Thermo Fisher Scientific': 435,
 'TJX Companies': 436,
 'Tractor Supply Company': 437,
 'Trane Technologies': 438,
 'TransDigm Group': 439,
 'Trimble': 440,
 'Truist Financial': 441,
 'Twitter': 442,
 'Tyler Technologies': 443,
 'Tyson Foods': 444,
 'U.S. Bancorp': 445,
 'UDR': 446,
 'Ulta Beauty': 447,
 'Under Armour (Class A)': 448,
 'Under Armour (Class C)': 449,
 'Union Pacific': 450,
 'United Airlines': 451,
 'United Parcel Service': 452,
 'United Rentals': 453,
 'UnitedHealth Group': 454,
 'Universal Health Services': 455,
 'Valero Energy': 456,
 'Ventas': 457,
 'Verisign': 458,
 'Verisk Analytics': 459,
 'Verizon Communications': 460,
 'Vertex Pharmaceuticals': 461,
 'VF Corporation': 462,
 'Viatris': 463,
 'Visa': 464,
 'Vornado Realty Trust': 465,
 'Vulcan Materials': 466,
 'W. R. Berkley Corporation': 467,
 'W. W. Grainger': 468,
 'Wabtec': 469,
 'Walgreens Boots Alliance': 470,
 'Walmart': 471,
 'Waste Management': 472,
 'Waters Corporation': 473,
 'WEC Energy Group': 474,
 'Wells Fargo': 475,
 'Welltower': 476,
 'West Pharmaceutical Services': 477,
 'Western Digital': 478,
 'Western Union': 479,
 'WestRock': 480,
 'Weyerhaeuser': 481,
 'Whirlpool Corporation': 482,
 'Williams Companies': 483,
 'Wynn Resorts': 484,
 'Xcel Energy': 485,
 'Xylem': 486,
 'Yum! Brands': 487,
 'Zebra Technologies': 488,
 'Zimmer Biomet': 489,
 'Zions Bancorp': 490,
 'Zoetis': 491}

In [36]:
def filewrite(word):
    print("HERE")
   # v=[(('1', '3'), '7'),(('1', '3'), '5'),(('1', '3'), '6')]
    f = open("node_edge_updated_2.txt", "a+")
    for s in word:
        #f = open("node_edge.txt", "a+")
        #print(s)
        line = '  '.join(str(x) for x in s[0])    
        
        f.write(line)
        f.write(",")
        f.write(s[1])
        f.write("\n")

    f.close()

In [35]:
#only the nodes name
with open('nodes_number.csv', 'w') as f:
    for line in NodeDict.keys():
        f.write(f"{line}\n")

In [26]:
from math import ceil

def nodeWeigth():
    nodeEdge=[]
    for k ,v in correlationdict.items():
        word=k.split("_")
        value=ceil(v*10)
       # print(newString,"   ",value)
        if value>=7 or value<0:
            #newval=((str(NodeDict[word[0]]),str(NodeDict[word[1]])),str(value))
            newval=((str(NodeDict[word[0]]),str(NodeDict[word[1]])))
            nodeEdge.append(newval)
        #filewrite(newString,value)
    return nodeEdge

In [37]:
nodeEdge=nodeWeigth()

filewrite(nodeEdge)

HERE

In [28]:
import json

with open('Nodes.json', 'w') as fp:
    json.dump(NodeDict, fp)

In [29]:
NodeList=[]
for k ,v in NodeDict.items():
    newDict={}
    newDict["Company"]=k
    newDict["NodeNumber"]=v
    NodeList.append(newDict)

In [30]:
import csv
def nodesfile(nodes):
    csv_file = "nodes.csv"
    column_name=["Company","NodeNumber"]
    try:
        with open(csv_file, 'w') as csvfile:
            writer = csv.DictWriter(csvfile,fieldnames=column_name)
            writer.writeheader()
            for data in nodes:
                writer.writerow(data)
                
    except IOError:
        print("I/O error")

In [31]:
nodesfile(NodeList)

In [38]:
#Converting to csv
import pandas as pd

read_file = pd.read_csv (r'node_edge_updated_2.txt')
read_file.to_csv (r'New_1.csv', index=None)