In [2]:
import pandas as pd
data=pd.read_csv("final_Dataset/final_Dataset.csv")

In [3]:
data.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Name,Sector
0,0,2022-01-03 00:00:00-05:00,178.320007,179.089996,175.839996,177.740005,172.506775,1930700,MMM,3M,Industrials
1,1,2022-01-04 00:00:00-05:00,178.479996,181.259995,178.029999,180.229996,174.923447,2522200,MMM,3M,Industrials
2,2,2022-01-05 00:00:00-05:00,177.130005,181.779999,177.000000,179.490005,174.205261,2952400,MMM,3M,Industrials
3,3,2022-01-06 00:00:00-05:00,180.880005,181.279999,177.539993,178.000000,172.759125,2505400,MMM,3M,Industrials
4,4,2022-01-07 00:00:00-05:00,178.130005,180.490005,177.220001,179.949997,174.651703,2800200,MMM,3M,Industrials

In [6]:
count=0
for i,j in data['Symbol'].iteritems():
    if j!='MMM':
        break
    else:
        count+=1
print(count)

197

In [8]:
data['Symbol'][196]

'MMM'